<footer class="container fixed-bottom">
    <div class="row bg-dark text-white p-4 text-center">
        <div class="align-items-center col-sm-6 col-xs-12 d-flex justify-content-center">
            <i class="fab fa-node-js fa-10x"></i>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2>Node Js</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, porro nesciunt exercitationem
                voluptates explicabo ullam nihil officia reprehenderit numquam dignissimos doloremque maiores in dolorem
                fugiat, provident consectetur illo nulla iure.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-2">
            <h4 class="text-dark text-center">Sebastian Miranda copyright © <%= year %></h4>
        </div>
    </div>
</footer>



<% include scripts.html %>